.my-profile {
  height: 400px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
  background-color: #ff9100;
  background-image: url('https://www.transparenttextures.com/patterns/ice-age.png');
}

.my-profile img {
  width: 150px;
}

.my-profile > br {
  display: none;
}

.my-profile h2 {
  font-weight: normal;
}

@keyframes bounce {
  0% {top: 0px;}
  10% {top: 0px}
  50% {top: 6px;}
  90% {top: 0px;}
}

@media only screen and (min-width: 1024px) {
  .my-profile {
    width: 40%;
    margin: 1.5rem;
    margin-top: 4rem;
  }
}