.new-tweet {
  width: 100%;
  margin: 0px 0px 2em 0px;
}

.new-tweet.hidden {
  display: none;
}

.new-tweet > h2 {
  display: none;
}

.new-tweet label {
  font-weight: bold;
  margin: 0.2em 0px 0.5em 0px;
  color: rgb(105, 105, 95); 
}

.new-tweet form {
  width: 97%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  resize: none;
  width: 100%;
  height: 2em;
  background-color: transparent;
  border-color: rgb(105, 105, 95);
  border-width: 0px 0px 0.2em 0px;
}

.new-tweet textarea:focus {
  outline-style: none;
  border-color: black;
}

.new-tweet textarea:hover {
  border-color: black;
}

.new-tweet button, .new-tweet output {
  font-size: 0.8em;
  font-family: 'Bungee', sans-serif;
}

.new-tweet form > div {
  margin-top: 0.4em;
  width: 99%;
  display: flex;
  justify-content: space-between;
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
  border-style: none;
}

.new-tweet button:hover {
  position: relative;
  top: -3px;
  left: -3px;
  box-shadow: 3px 3px rgb(197, 203, 226);
}

.new-tweet output.over-limit {
  color: rgb(230, 0, 0);
}

.new-tweet > form > .error {
  width: 100%;
  display: none;
  text-align: center;
  font-weight: bold;
  color: rgb(230, 0, 0);
  border: solid 0.15em rgb(230, 0, 0);
}